#include "..\include\Resources.h"

NOISE_SAMPLER
SSAO_VERT
SSAO_FRAG
SSAO_FRAG_LIGHT
DEFER_VERT
DEFER_FRAG
BBlender_VERT
BBlender_FRAG
BLUR_H_VERT
BLUR_H_FRAG
BLUR_V_VERT
BLUR_V_FRAG
LIGHT_VERT
LIGHT_FRAG
ALPHA_RGB_VERT
ALPHA_RGB_FRAG
RES_SHADER_CUBESHADOW_VERT
RES_SHADER_CUBESHADOW_FRAG
